html, body {
    height:100%;
}

body {
  background: url('https://static.pexels.com/photos/26302/pexels-photo.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: 	#696969;
  margin-top: 0;
}
.container{
  background:rgba(222,222,222,.5);
  position: relative;
  overflow-y: scroll;
  height: 100%;
  /*padding-bottom:100px;*/
  padding-top: 0;
  margin-top: 0;
  height: 100%
}
h1{
  font-size: 95px;
  font-family: KnifeFightBallet-Regular;
  text-shadow: 2px 2px rgb(0,0,0);
  padding-top:20px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2{
  font-size: 75px;
  font-family: sternbach;
  text-shadow: 2px 2px rgba(255,255,0,0.4);
  padding-top: 0px;
  margin-top: 0px;
}

h3{
  font-size: 75px;
  font-family: KnifeFightBallet-Regular;
  /*font-family: KnifeFightBallet-Regular;*/
  /*padding-top:20px;*/
}

h2{
  font-family: sternbach;
  text-shadow: 2px 2px rgba(255,255,0,0.4);
  padding-top: 0px;
  margin-top: 0px;
}

p{
  font-size: 23px;
  color: white;
}

button{
  position:relative;
  /*top:30px;*/
  margin: 5px;
}

.btn{
  background-color: #8b1014;
}

.searchBtn {
  top:20px;
}

.clearBtn {
  top:20px;
}

.faceoff{
  min-height:300px;
}
.row .col.movie{
  /*border: 1px solid black;*/
  min-height:100px;
  padding:3px;
}

.row .col.book{
  /*border: 1px solid black;*/
  min-height:100px;
  padding:3px;
}

.collection{
  display:none;
}

.selection{
  text-align: center;
  background-color:rgba(255,255,0,0.3);
  padding: 30px;
}

.movie{

}

.book {

}

.searchBox {
    background-color: rgba(0,0,0,0.4);
}

.resultsbox {
    background-color: rgba(0,0,0,0.4);
    padding: 50px;
    width: 100%;
}

 input[type=text]{
   font-size: 18px;
   color: white;
 }
.input-field input[type=text]:focus {
  border-bottom: 1px solid #8b1014;
  box-shadow: 0 1px 0 0 #8b1014;
}

.modal {
    background-color: rgb(160,160,160);
}

html {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }

@font-face {
    font-family: "KnifeFightBallet-Regular";
    src: url('/fonts/knife_fight_ballet/KnifeFightBallet-Regular.otf');
}

@font-face {
    font-family: "sternbach";
    src: url('/fonts/sternbach/Sternbach.otf');
}
